<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <p style="color:red;">{{content}}</p>
        <ul>
            {{#each people}}
                <li>
                    {{#if this.middleName}}
                        {{this.firstName}} "{{this.middleName}}" {{this.lastName}}
                    {{else}}
                        {{this.firstName}} {{this.lastName}} (no middle name)
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </body>
</html>